{% extends 'userprofile/base.html' %}
{% block title %} CV Upload {% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
        
        
                        {% csrf_token %}
                        {{ form }}
                        <br>
                    
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    
</div>

{% endblock %}