[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
xhtml2pdf = "*"
django-model-utils = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
