{% extends 'dashboard/base.html' %}
{% block content %}

<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h1 class=" card-title text-center">Total Users</h1>
                        <hr>
                        <h4 class="card-text text-center">{{ users.count }}</h4>


                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h3 class="card-title text-center">Total Activate</h3>
                    <hr>
                    <h4 class="card-text text-center">{{ activecount }}</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h3 class="card-title text-center">Total Deactivate</h3>
                    <hr>
                    <h4 class="card-text text-center">{{ dactivecount }}</h4>
                        
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="card flex-fill">
                        <div class="card-header">

                            <h5 class="card-title mb-0">User List</h5>
                        </div>
                        <table class="table table-hover my-0">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Name</th>
                                    <th class="d-none d-xl-table-cell">Mobile Number</th>
                                    <th class="d-none d-xl-table-cell">Email Address</th>
                                    <th>Membership Type</th>
                                    <th class="d-none d-md-table-cell">Status</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            {% for obj in users %}
                            <tbody>
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ obj.user.full_name }}</td>
                                    <td class="d-none d-xl-table-cell">{{ obj.user.mobile_number }}</td>
                                    <td class="d-none d-xl-table-cell">{{ obj.user.email }}</td>
                                    <td>{{ obj.membership_status }}</td>
                                    {% if obj.is_publish is True %}
                                        <td><span class="badge bg-success">Active</span></td>
                                    {% else %}
                                        <td><span class="badge bg-danger">Deactive</span></td>
                                    {% endif %}
                                    <td class=""><a href="{% url 'admin-user-info' obj.user.id %}" class="btn btn-info">More</a></td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

    </div>
</main>
{% endblock %}