{% extends 'dashboard/base.html' %}
{% block title %} Send Email {{ user.full_name }} {% endblock %}
{% block content %}
<br>
<div class="container">
    <div class="">
        <a href="{% url 'admin-list' %}" class="btn btn-warning">back</a>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <label>Subject</label>
                        <input class="form-control" type="text" name="subject" placeholder="Type Your Subject.......">
                        <br>
                        <label>Message</label>
                        <textarea name="message" class="form-control"></textarea>
                        <br>
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}