{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container">
    <br>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col">
            <div class="card" style="">
                <div class="container" style="margin: 15px 0 0 0;">
                    <h2 class="card-title text-center">Notice board</h2>
                    <p class="card-text text-center">You have not permissioin to access this page. please go back</p>
                    <p class="text-center">Thank you for join us</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
{% endblock %}