{% extends 'base/base.html' %}

{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<br>
<div class="container">
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col">
            {% if request.user.userregistrationform.is_publish is True %}
            <a class="btn btn-primary" href="{% url 'user-home' %}">Dashboard</a>
            <a class="btn btn-primary" href="{% url 'cv-upload' %}">Cv Upload</a>
            {% endif %}
            {% if request.user.is_staff or request.user.is_superuser is True %}
            <a class="btn btn-primary" href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <br>
    <div class="card text-center">
        <div class="row">
            <div class="card-body">
                    <img src="{% static 'img/base/logo.png' %}" class="homeimg" alt="">
                <h1 class="card-title">Khulna University</h1>
                <h5 class="card-text">Pharmacy Alumni Association.</h5>
                <p class="card-text">Estd.: 18 July 2014</p>
                <a href="{% url 'user-registration' %}" class="btn btn-outline-info">Membership Application Form</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}