<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand"></a>
      <div class="">
        {% if request.user.is_authenticated %}
          {% if request.user.is_staff and request.user.is_superuser is True %}
          <a href="{% url 'staf-registration' %}" class="btn btn-outline-warning">Create Admin / SuperAdmin</a>
          <a href="{% url 'logout-admin' %}" class="btn btn-outline-danger">LogOut</a>
          {% else %}
          <a href="{% url 'logout-admin' %}" class="btn btn-outline-danger">LogOut</a>
          {% endif %}
        
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">User Login</a>
        <a href="{% url 'admin-login' %}" class="btn btn-outline-danger">Admin/ Super Admin Login</a>
        {% endif %}
      </div>
    </div>
  </nav>